body {
    background: rgb(202, 202, 202);
}

.jumbotron{
    text-align: center;
    margin:5px;
    border:1px solid gray;
}


.flex{
    display: flex;
      flex-wrap: wrap;

}
.feria{
    flex: 1 0 calc(15% - 5px);
    min-height: 350px;
    margin:5px;
     padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: white;
    border-radius:5px;
    transition: all 400ms;
}

.feria:hover{
    box-shadow: 0px 2px 1px 1px #535353;
    transform: translateY(3px);
}


.img {
    background: white;
    background-image: url(../img/book.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
}

.boton {
    background-color: rgb(42, 182, 42);
    color: white;
    text-decoration: none;
    border: solid 4px rgb(42, 182, 42);
    border-radius: 5px;
}
