body {
    background: rgb(202, 202, 202);
}

.principal {
    background-color: gray;
    border-radius: 5px;
}

.img {
    background: white;
    background-image: url(../img/book.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
}

.rou {
    border: solid 4px gray;
}




.boton {
    background-color: rgb(42, 182, 42);
    color: white;
    text-decoration: none;
    border: solid 4px rgb(42, 182, 42);
    border-radius: 5px;
}


.feria {
    padding:5px;
    margin:20px 0px; 
    border-radius:5px;
    background:white;
    min-height: 330px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transition: all 400ms;
}

.feria:hover{
    box-shadow: 0px 2px 1px 1px #535353;
    transform: translateY(5px);
}